apiVersion: apps/v1
kind: Deployment
metadata:
  name: nexus-deployment
  labels:
    app: nexus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nexus
  template:
    metadata:
      labels:
        app: nexus
    spec:
      containers:
        - name: nexus
          image: sonatype/nexus3:latest
          ports:
            - containerPort: 8081        # Nexus web UI port
          volumeMounts:
            - name: nexus-data
              mountPath: /nexus-data     # Nexus data directory
      volumes:
        - name: nexus-data
          persistentVolumeClaim:
            claimName: nexus-pvc
